@layer base {
	* {
		@apply box-border;
	}

	html,
	body {
		@apply m-0 p-0 text-gray-700 dark:bg-dark dark:text-white font-main;
		scroll-behavior: smooth;
	}

	a {
		@apply no-underline;
	}

	button,
	input,
	textarea,
	select {
		@apply focus:outline-none;
	}
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}
}
